.hotel-desc{
    display: flex;
    align-items: center;
}

.hotel-desc img{
    width: 205px;
    height: 150px;
}

.hotel-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 20px 60px;
}

.hotel-img{
    margin-right: 20px;
}
